<!DOCTYPE html>
<html th:replace="layout/masterLayout :: layout(~{::main})" xmlns:th="http://www.thymeleaf.org">

<body class="bg-light">
<main role="main">
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3>Employees</h3>
                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Code</th>
                            <th>FirstName</th>
                            <th>LastName</th>
                            <th>Address</th>
                            <th>Action</th>
                        </tr>

                        </thead>
                        <tbody>
                        <tr th:each="cust : ${customers}">
                            <td th:text="${cust.id}"></td>
                            <td th:text="${cust.code}"></td>
                            <td th:text="${cust.firstName}"></td>
                            <td th:text="${cust.lastName}"></td>
                            <td th:text="${cust.address}"></td>
                            <td>
                                <a th:href="@{'/customer/delete?id='+ ${cust.id}}"
                                   class="btn btn-outline-danger">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <a th:href="@{/customer/save-customer}"
                    class="btn btn-primary">Create Customer</a>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>